.links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: fit-content;
}

.link {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #4D5053;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.2px;
}

.icon {
    width: 25px;
    height: 20px;
    stroke-width: 2px;
    stroke: #CDA274;
    fill: transparent;
}

.img {
    max-width: 700px;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
}