@font-face {
    font-family: "DMSerifDispla";
    src: url("fonts/DMSerifDisplay-Regular.woff2");
    display: swap;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Jost";
    src: url("fonts/Jost-Medium.woff2");
    display: swap;
    font-weight: 500;
    font-style: normal
}


@font-face {
    font-family: "Jost";
    src: url("fonts/Jost-Regular.woff2");
    display: swap;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Jost";
    src: url("fonts/Jost-SemiBold.woff2");
    display: swap;
    font-weight: 600;
    font-style: normal
}



@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-Medium.woff2");
    display: swap;
    font-weight: 500;
    font-style: normal
}


@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-SemiBold.woff2");
    display: swap;
    font-weight: 600;
    font-style: normal
}