:root {
    --link-color: #292F36;
    --title-color: #fff;
    --black-title-color: #292F36;
    --small-title-color: #292F36;
    --white-color: #fff;
    --black-color: #4D5053;
    --button-background: #292F36;
    --button-color: #fff;
    --black-button-color: #4D5053;
}