.form {
}

.inputs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    margin-block-end: 50px;

    @media(min-width:992px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.input {
    max-width: 500px;
    padding-block-end: 10px;
    border-bottom: 1px solid #000;
    font-size: 18px;
    font-family: Jost;
    font-weight: 400;

    &::placeholder {
        color: rgb(77, 80, 83);
        font-family: Jost;
        font-size: 18px;
        font-weight: 400;
    }

    &:focus:required {
        border-bottom: 2px solid #000;
    }

    &:not(:placeholder-shown):valid {
        border-bottom: 2px solid #0ab131;
    }

    &:not(:placeholder-shown):invalid {
        border-bottom: 2px solid red;
    }
}

.textArea {
    margin-block-end: 60px;
    resize: none;
    outline: none;
    border: none;
    width: 100%;
    min-height: 175px;
    border-bottom: 1px solid #000;
    font-family: Jost;
    font-weight: 400;

    &::placeholder {
        color: rgb(77, 80, 83);
        font-family: Jost;
        font-size: 18px;
        font-weight: 400;
    }

    &:focus {
        border-bottom: 2px solid #000;
    }
}

.button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 40px;
    border-radius: 18px;
    background-color: #292F36;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    color: #FFF;
    font-family: Jost;
    font-weight: 600;
}

.icon {
    width: 15px;
    height: 15px;
    fill: transparent;
    stroke: #FFF;
}