.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @media(min-width:992px) {
        grid-template-columns: 1fr 1fr;
    }
}

.content {}

.title {
    text-align: center;
}

.position {
    display: block;
    margin-block-end: 50px;
    color: #4D5053;
    text-align: center;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.22px;
}

.text {
    margin-block-end: 50px;
}

.img {
    aspect-ratio: 9/16;
    border-radius: 15px;
}