.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.item {
    max-width: 370px;
    padding: 70px 20px;
    text-align: center;
    border-radius: 30px;
    transition: background-color 0.5s;

    &:hover {
        background-color: #F9F9F9;

        .title {
            color: #C76904;
        }

        .text {
            color: #C76904;
        }

        .button {
            color: #C76904;
        }

        .icon {
            stroke: #C76904;
        }
    }
}

.title {
    margin-block-end: 20px;
    transition: color 0.5s;
}

.text {
    margin-block-end: 50px;
    transition: color 0.5s;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    color: #4D5053;
    font-family: Jost;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.5s;
}

.icon {
    width: 20px;
    height: 15px;
    stroke: #000;
    fill: #fff;
    transition: stroke 0.5s;
}